{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="card mb-6">
            {% block content %}
                <div class="container container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                {% block title %}Calculator{% endblock %}
                            </div>
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.vat_number) }}
                                {{ form_widget(form.vat_number) }}
                                {{ form_errors(form.vat_number) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.currency) }}
                                {{ form_widget(form.currency) }}
                                {{ form_errors(form.currency) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.type) }}
                                {{ form_widget(form.type) }}
                                {{ form_errors(form.type) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.submit, {'label': "Submit", 'attr' : { 'class': 'btn btn-primary' }}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="col-lg-8">
                            <table>
                            {% if documents is not empty %}
                                <tr>
                                    <th>Customer</th>
                                    <th>Total</th>
                                </tr>
                            {% endif %}
                            {% for document in documents %}
                                <tr>
                                <td>{{ document.customer }}</td>
                                <td>{{ document.total }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="col-lg-12">
        <br>
    </div>
{% endblock %}
